body {
    font-family: Arial;
    margin: 0;
    background-color: #FFF8F0;
}
header {
    background-color: #C0392B;
    color: white;
    text-align: center;
    padding: 30px;
}
section {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
